<!DOCTYPE HTML>
<html>
	<head>
		<title>Dev Goose</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<link rel="icon" href="/static/images/favicon.ico">
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="/static/images/pfp.png" alt="" /></span>
						<h1>Hi, I'm Alex</h1>
						<h2>A Python Developer & TFT Pro</h2>
					</header>
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<b>
								<li><a href="#intro" class="active">About</a></li>
								<li><a href="works">Works</a></li>
								<li><a href="#cta">Contact Me</a></li>
							</b>
						</ul>
					</nav>
				<!-- Main -->
					<div id="main">
						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2><b>What I can do</b></h2>
										</header>
										<h3>Develop clean, unique, and effective solutions. Experienced with Python, Node.js,
											Bootstrap, data analysis, and automation.</h3>
										<h3>Are you starting a new project or need a boost to the finish line?
										I'll hop in at any point, learn your needs, and help you finish the project</h3>
									</div>
									<span class="image"><img src="/static/images/pudgy_work.gif" alt="" /></span>
								</div>
							</section>
						<!-- First Section -->
							<section id="first" class="main special">
								<header class="major">
									<h2><b>Completed Projects</b></h2>
								</header>
								<ul class="features">
									<li>
										<span class="icon solid major style2 fa-code"></span>
										<h3>Milky Bot - Selenium & MySQL</h3>
										<p>Webscraping market-making bot. Fetches prices,
											places buy and sell orders, prioritizes most profitable items, and dynamically
											maintains margins.
										</p>
									</li>
									<li>
										<span class="icon solid major style3 fa-fish"></span>
										<h3>Rog Bot - web3.js </h3>
										<p>Twitter bot that Subscribes to the Pudgy Rods Etherscan contract's
										transfer event. Sends a tweet when a sale is detected.</p>
									</li>
									<li>
										<span class="icon major style5 fa-heart"></span>
										<h3>Twitch.TV Bot - Node.js & WebSocket</h3>
										<p>Boosts viewer interaction by applying camera filters for streamer when
											certain emotes are detected in chat. More emoting = longer
											filter duration.</p>
									</li>
								</ul>
								<footer class="major">
									<ul class="actions special">
										<li><a href="works" class="button primary">Previous Projects</a></li>
									</ul>
								</footer>
							</section>
							<section id="cta" class="main special">
								<header class="major">
									<h2><b>I can help</b></h2>
									<p>If you are starting or need help with an existing/ongoing
									projects, get in touch.</p>
								</header>
								<footer class="major">
									<ul class="actions special">
										<li><a href="mailto:grandvice8@gmail.com" class="button">Email</a></li>
										<li><a href="https://twitter.com/grandvice8" class="button">Twitter</a></li>
									</ul>
								</footer>
							</section>
					</div>
				<!-- Footer -->
							<ul class="icons" style="padding-top: 2em">
								<li><a href="https://twitter.com/grandvice8" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
								<li><a href="https://github.com/grandvice8" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.twitch.tv/grandvice8" class="icon brands fa-twitch alt"><span class="label">Twitch</span></a></li>
							</ul>
							<p class="copyright" style="text-align: center">Copyright &copy; {{ year }} Goose </p>
			</div>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>