<!DOCTYPE HTML>
<html>
	<head>
		<title>Dev Goose</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" href="/static/images/favicon.ico">
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>Past Projects</h1>
					</header>

				<!-- Main -->
					<div id="main">
					<nav id="nav">
						<ul>
							<b>
							<li><a href="/" >About</a></li>
							<li><a href="works" class="active">Works</a></li>
							<li><a href="#cta">Contact Me</a></li>
							</b>
						</ul>
					</nav>
						<!-- Content -->
							<section id="content" class="main">

								<!-- Milky -->
									<section>
										<h1><b>Milky Bot</b></h1>
										<h3>Functionality handled by Python/Selenium with algorithm logic. Data storage with MySQL.</h3>
										<h3>Webscraping market-making bot. Fetches prices,
											places buy and sell orders, prioritizes most profitable items, and dynamically
											maintains margins.</h3>
										<img src="/static/images/milkybot_screenshots/placeorder.png" class="milky">
										<img src="/static/images/milkybot_screenshots/networth.png" class="milky">
									</section>
								<hr>
								<!-- Rogs -->
									<section>
										<h1><b>Pudgy Rods Tweet Bot</b></h1>
										<h3>Typescript & web3.js. Modified open-source project. Watches the Pudgy Rods Etherscan
										contract and Tweets when a sale occurs.</h3>
										<img src="/static/images/rogbot/rog1.png" class="rog">
										<img src="/static/images/rogbot/rog2.png" class="rog">
									</section>
								<hr>
								<!-- Twitch Filters -->
									<section>
										<h1><b>Twitch Filter Bot</b></h1>
										<h3>Node.js. Connects to Twitch IRC via WebSocket. Monitors a streamer's chat
										for specific emotes. When detected, camera filters are applied to streamer's
										camera through Snap Camera. Created to boost viewer interaction. More
										emoting causes longer duration cam filters.</h3>
										<img src="/static/images/Twitchbot/xdd.png" class="xdd">
									</section>


							</section>
					<section id="cta" class="main special">
								<header class="major">
									<p>If you have a project you want to start, need help with an existing
									project, or want longer-term collaboration, get in touch.</p>
								</header>
								<footer class="major">
									<ul class="actions special">
										<li><a href="mailto:grandvice8@gmail.com" class="button">Email</a></li>
										<li><a href="https://twitter.com/grandvice8" class="button">Twitter</a></li>
									</ul>
								</footer>
							</section>
					</div>

				<!-- Footer -->
					<ul class="icons" style="padding-top: 2em">
								<li><a href="https://twitter.com/grandvice8" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
								<li><a href="https://github.com/grandvice8" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.twitch.tv/grandvice8" class="icon brands fa-twitch alt"><span class="label">Twitch</span></a></li>
							</ul>
							<p class="copyright" style="text-align: center">Copyright &copy; 2022 Grandvice8 </p>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>